.modalWrapper {
    width: 500px;
    height: 600px;

    @media screen and (max-width: 768px) {
        // width: 120vw;
        margin: 1rem;
    }
}

.ModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.5);
}

.Modal {
    background: white;
    z-index: 891723123;
    width: 500px;
    // height: 600px;
    border-radius: 15px;
    padding: 15px;
    margin-top: 5rem;
    position: relative;

    @media screen and (max-width: 768px) {
        width: 100%;
        min-height: 20rem;
        height: max-content;
    }
    a {
        color: #000;
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 928137123;
    }
}
