.container{
    margin-top: 4rem;
    
}


.challenge{
    max-width: 900px;
    margin: auto;


    .days{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 2rem;
        // background-color: aqua;
        .day{
            width: 10.2rem;
            height: 8rem;
            background-color: #fff;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}