.App {
    nav {
        background-color: grey;
        padding: 1rem;

        .navContent{
            max-width: 900px;
            display: flex;
            margin: auto;
            justify-content: space-between;
            // flex-direction: c;
            // background-color: antiquewhite;
        }
    }
}

.container {
    max-width: 900px;
    margin: auto;
}
