*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html,
body {
	height: 100%;
}
body {
	/* line-height: 1.5; */
	/* font-size: 62.5%; */
	-webkit-font-smoothing: antialiased;
	font-family: "Satoshi", sans-serif;
	background-color: #f0f2f5;

	--ac-1: #a6ff00;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root,
#__next {
	isolation: isolate;
}

button {
	padding: 0.6rem;
}
