.App {
    footer {
        height: 10rem;
        border-top: 1px solid rgb(230, 230, 230);
        // border-top: 1px solid #eee;
        margin-top: 2rem;
        color: #667380;

        .about {
            max-width: 900px;
            margin: auto;
            background-color: #fff;
            padding: 2rem;
            border-radius: 20px;
            margin-top: 2rem;
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 768px) {
                flex-direction: column;
                gap: 1rem;
            }

            a {
                color: #a6ff00;
                background-color: #000;
                padding: 0.2rem 1rem;
                text-decoration: none;
                border-radius: 100px;
                // margin-top: 1rem;
            }
        }
    }
}

.container {
    max-width: 900px;
    margin: auto;
    margin-top: 5rem;
    // background-color: rgb(255, 185, 95);

    // @media screen and (max-width: 1200px) {
        padding: 1rem;
    // }

    .intro {
        width: 100%;
        height: 30rem;
        background-color: #ffffff;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;

        @media screen and (max-width: 768px) {
            height: 20rem;
        }

        background: linear-gradient(130deg, #ad90c1 0%, rgb(3, 0, 84) 100%),
            linear-gradient(130deg, #09007b 0%, rgba(15, 0, 66, 0) 30%),
            linear-gradient(129.96deg, rgb(255, 47, 47) 10.43%, rgb(0, 4, 96) 92.78%),
            radial-gradient(100% 246.94% at 100% 0%, rgb(255, 255, 255) 0%, rgba(37, 0, 66, 0.8) 100%),
            linear-gradient(121.18deg, rgb(20, 0, 255) 0.45%, rgb(27, 0, 62) 100%),
            linear-gradient(154.03deg, rgb(206, 0, 0) 0%, rgb(255, 0, 61) 74.04%),
            linear-gradient(341.1deg, rgb(178, 91, 186) 7.52%, rgb(16, 0, 119) 77.98%),
            linear-gradient(222.34deg, rgb(169, 0, 0) 12.99%, rgb(0, 255, 224) 87.21%),
            linear-gradient(150.76deg, rgb(183, 213, 0) 15.35%, rgb(34, 0, 170) 89.57%);
        background-blend-mode: overlay, normal, overlay, color-burn, screen, overlay, difference, difference, normal;

        h1 {
            font-weight: 900;
            font-size: 4rem;
            line-height: 1.2;
            text-align: center;
            color: #fff;

            @media screen and (max-width: 768px) {
                font-size: 1.5rem;
            }
        }
    }

    .challenge-container {
        .challenge-heading {
            display: flex;
            justify-content: space-between;
            padding: 1rem 0;
            align-items: center;

            button {
                border-radius: 100px;

                border: none;
                padding: 0.3rem 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                cursor: pointer;
            }
        }
        .challenges {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 1rem;

            h2 {
                color: #000;
            }

            .challenge {
                background-color: rgb(255, 255, 255);
                height: 18rem;
                width: 49%;
                border-radius: 20px;
                // border: 4px solid #fff;
                display: flex;
                justify-content: space-between;
                // align-items: center;
                flex-direction: column;
                padding: 2rem;
                gap: 1rem;
                color: #667380;
                min-height: 20rem;
                height: max-content;

                @media screen and (max-width: 1000px) {
                    width: 100%;
                }

                button {
                    width: max-content;
                    background-color: #eee;
                    border: none;
                    border-radius: 6px;
                    // align-self: flex-end;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.4rem;
                    color: rgb(0, 0, 0);

                    svg {
                        color: rgb(0, 0, 0);
                    }
                }
            }

            // .challenge:nth-child(1){
            //     background-color: #7b61ff;
            //     color: #fff;
            // }
            // .challenge:nth-child(2){
            //     background-color: #18a0fb;
            //     color: #fff;
            // }
            // .challenge:nth-child(3){
            //     background-color: #f24822;
            //     color: #fff;
            // }
            // .challenge:nth-child(4){
            //     background-color: #1bc47d;
            //     color: #fff;
            // }
        }
    }

    .make-challenges {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        .make {
            width: 100%;
            border-radius: 20px;
            height: 16rem;
            background-color: rgb(255, 255, 255);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding: 2rem;

            button {
                background-color: #eee;
                width: max-content;
                border: none;
                padding: 0.3rem 1rem;
                border-radius: 100px;
                cursor: pointer;
            }
            // background: linear-gradient(100grad, #df3, #aafc62);
        }
    }
}
