.container {
    max-width: 900px;
    margin: auto;
    margin-top: 4rem;
    padding: 1rem;

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 1rem;
        font-size: 1rem;
        margin: auto;
        // border: 2px solid var(--ac-1);
        // padding: 1rem;
        // margin-top: 4rem;
        // border-radius: 8px;
        position: relative;
        // background-color: #fff;
        z-index: 0;

        @media screen and (max-width: 500px) {
            width: 95vw;
        }
        .submitBtn {
            background-color: #a6ff00;
            border: none;
            // border-radius: 22px;
            // color: rgb(255, 255, 255);
            margin-top: 1rem;
            padding: .4rem 1rem;
            cursor: pointer;
            border-radius: 100px;
            width: max-content;
        }
        .linkto {
            margin-top: 1rem;
        }

        h1 {
            text-align: center;
            text-transform: uppercase;
            // color: var(--ac-1);
            // background-color: #fcdfa5;
            // padding: 1rem 0;
            border-radius: 22px 22px 0 0;
            // font-size: 2rem;
            margin-bottom: 1rem;
        }

        // button {
        //     width: 100%;
        //     margin-top: 0.5rem;
        //     width: max-content;
        //     border-radius: 100px;
        //     padding: .3rem 1rem;
        //     // background-color: hotpink;
        // }

        .formField {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            label {
                font-size: 1rem;
                // color: var(--ac-1);
                text-transform: uppercase;
                margin-bottom: 0.3rem;
                //  font-family: 'Space Grotesk', sans-serif;
            }
            input {
                padding: .7rem;
                border: 2px solid #eee;
                border-radius: 10px;
                // border-radius: 4px;
            }
            
            textarea{
                padding: .7rem;
                border-radius: 10px;
                border: 2px solid #eee;
                height: 8rem;

            }
        }

        .checkbox {
            margin: 0.7rem 0;
        }

        .divider {
            margin: 1.5rem 0;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            color: gray;

            .text {
                margin: 0 1rem;
            }

            .line {
                border-top: 2px solid #edeff1;
                width: 50%;
            }
        }
    }
}
